// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#plot1{
	height: 250px;	
}

#overview1{
	height: 80px;		
}

#plot2{
	height: 400px;		
}